@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #d1d5d9;
}

nav {
  background-color: #f4f3f3;
  min-height: 60px;
  display: flex;
}

nav div {
  display: flex;
  align-items: center;
}

nav .left-side {
  flex: 50%;
  padding-left: 100px;
}

nav .right-side {
  flex: 50%;
  justify-content: flex-end;
  padding-right: 100px;
}

nav ul {
  list-style-type: none;
  margin-left: 50px;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a.active {
  font-weight: 700;
}

.btn-contact-me {
  background-color: #008080;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  padding: 6px 24px;
  border: none;
}
.btn-contact-me:hover {
  background-color: #005858;
  cursor: pointer;
  font-size: 14px;
}

.container {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 50px 100px;
  border-radius: 4px;
  padding: 50px 40px;
  display: flex;
  background-color: #fff;
}

/* Left */
.header {
  margin-bottom: 20px;
}

.left-content {
  flex: 70%;
  margin-right: 40px;
}

.content {
  text-align: justify;
}

.btn-contact {
  background-color: #008080;
  border-radius: 24px;
  color: #fff;
  font-size: 16px;
  padding: 6px 30px;
  margin-top: 20px;
  margin-right: 20px;
  border: none;
}

.btn-contact:hover {
  background-color: #005858;
  cursor: pointer;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

.social-media {
  margin-top: 40px;
}
.social-media a {
  margin-right: 20px;
}

/* Right */
.right-content {
  flex: 30%;
}

.card {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: -18px;
  border-radius: 5px;
}

img.img-profile {
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 16px 0;
}

/* contact */

.container-contact {
  margin: auto;
  width: 30%;
  padding-top: 20px;
}

.header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #008080;
  color: white;
  padding: 6px 24px;
  border: none;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #d42a0d;
}
